*{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .logo{
    flex-basis: 20%;
  }
  .logo img{
    width: 250px;
  
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links li:hover{
    background-color: #20fc03;
    border-radius: 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
  .nav-links li{
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
  }
  .nav-links li a{
    color: #fff;
    text-decoration: none;
  }

body{
    background: linear-gradient(to right, #20fc03, #2c16f5);
    text-transform: uppercase;
}
